{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- BUTTON TO TRIGGER THE ACTION -->


 <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Quải Lí Xe</h4>
                                <p class="category">
                                  <button type="button"
                                     class="btn btn-primary js-create-asset"
                                     data-url="{% url 'asset_create' %}">
                                     <span class="glyphicon glyphicon-plus"></span>
                                      Tạo Xe
                                  </button>
                                </p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" id="asset-table">
                                    <thead>
                                        <th align="center">ID</th>
                                    	<th align="center">Tên</th>
                                    	<th align="center">Hãng SX</th>
                                    	<th align="center">Tổng Chi Phí</th>
                                    	<th align="center">Trạng Thái</th>
                                        <th align="center">Ngày Bảo Trì</th>
                                        <th align="center">Biển Số</th>
                                        <th align="center">Tài Xế</th>
                                    </thead>
                                    <tbody>
                                        {% include 'asset_tracking/partial_asset_list.html' %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
 </div>
{% endblock %}
 <!-- THE MODAL WE WILL BE USING -->

{%block modal%}
 <div class="modal fade" id="modal-asset">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
  </div>
{% endblock %}







{% block javascript %}
    <script src="{% static 'js/assets.js' %}"></script>

{% endblock %}