<form method="post" action="{% url 'asset_delete' asset.id %}" class="js-asset-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Xác nhận xóa xe</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Bạn có chắc chắn muốn xóa xe <strong>{{ asset.bienso }}</strong> khỏi danh sách?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    <button type="submit" class="btn btn-danger">Xóa</button>
  </div>
</form>