{% now "Y-m-d" as todays_date %}
{% for asset in assets %}
        <tr>
          <td align="center">{{ asset.id }}</td>
          <td align="center">{{ asset.name }}</td>
          <td align="center">{{ asset.producer }}</td>
          <td align="center">{{ asset.total }}</td>
          <td align="center">{{ asset.status }}</td>
          <td align="center">{{ asset.warranty_date }}</td>
          {% if asset.warranty_date|date:"Y-m-d" <= todays_date %}
            <td>
                <div class="alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                 {{ asset.bienso }}
                </div>
            </td>
          {% else %}
            <td >{{ asset.bienso }}</td>
          {% endif %}
          <td>{{ asset.Madriver }}</td>
            <td>
      <button type="button"
              class="btn btn-warning btn-sm js-update-asset"
              data-url="{% url 'asset_update' asset.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>

        <button type="button"
            class="btn btn-warning btn-sm js-create-history"
            data-url="{% url 'history_create' asset.id %}">
      <span class="glyphicon glyphicon-pencil"></span>
      Chi Phí
    </button>

      <button type="button"
              class="btn btn-danger btn-sm js-delete-asset"
              data-url="{% url 'asset_delete' asset.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>

    </td>
        </tr>
{% empty %}
        <tr>
          <td colspan="8" class="text-center bg-warning">Không có xe nào </td>
        </tr>
{% endfor %}


